.main {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.logo {
  width: 40%;
}

.heroContent {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  text-align: center;
}