.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.heroContent {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  text-align: center;
  line-height: 30px;
}